* {
    font-family: "JetBrainsMono NF", "Symbols Nerd Font";
}

.control-center {
    background: #1e1e2e;
    border-radius: 20px;
    color: #cdd6f4;
    padding: 2px;
}

.notification-row {
    outline: none;
    margin: 6px;
    padding: 0;
    background-color: transparent;
}

.notification {
    background: #313244;
    border-radius: 8px;
    border: 1px solid #bd93f9;
    padding: 6px;
    transition: all 0.3s ease;
}

.notification-content {
    padding: 2px;
}

.summary {
    font-weight: bold;
    font-size: 16px;
    color: #bd93f9;
}

.body {
    color: #cdd6f4;
}

.widget-mpris-title {
    font-size: 1rem;
    font-weight: bold;
}

.widget-mpris-subtitle {
    font-size: 0.8rem;
    color: #a6adc8;
}

.widget-title > button {
    background: #bd93f9;
    color: #1e1e2e;
    border-radius: 4px;
    padding: 4px;
}
