* {
    font-family: "JetBrainsMono NF", "Symbols Nerd Font";
}

:root { 
    --theme-color: #f2cdcd;
    --default-text-color: #cdd6f4;
}

.control-center {
    background: #181825;
    border-radius: 20px;
    color: var(--default-text-color);
    padding: 4px;
}

.notification-row {
    outline: none;
    margin: 6px;
    padding: 4px;
    background-color: transparent;
}

.notification {
    background: #1e1e2e;
    border-radius: 8px;
    border: 1px solid var(--theme-color);
    padding: 6px;
    transition: all 0.3s ease;
}

.notification-content {
    padding: 2px;
}

.notification-title {
    color: var(--theme-color);
    font-weight: bold;
}

.summary {
    font-weight: bold;
    font-size: 16px;
    color: var(--default-text-color);
}

.body {
    color: var(--default-text-color);
}

.widget-mpris-title {
    font-size: 1rem;
    font-weight: bold;
}

.widget-mpris-subtitle {
    font-size: 0.8rem;
    color: #a6adc8;
}

.widget-title {
    color: var(--theme-color);
    font-size: 1.2rem;
}

.widget-title > button {
    background: var(--theme-color);
    color: #1e1e2e;
    border-radius: 4px;
    padding: 4px;
}

.notification-group,
.blank-window,
notificationwindow {
    background-color: transparent;
}
