Here is an example of how the 'env_hardware.conf' file might look like, considering a scenario when a Nvidia dGPU was detected.
If you have Intel/Amd GPU, this configuration will be more cleaner.

# Hyprland environment variables related to GPU and rendering configurations
env = XDG_SESSION_TYPE,wayland
env = LIBVA_DRIVER_NAME,nvidia
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = WLR_NO_HARDWARE_CURSORS,1
# GPU used to render hyprland: 
env = AQ_DRM_DEVICES,/dev/dri/cardX   

'X' in 'cardX' would be replaced by the corresponding number of the card that represents the GPU you have selected during the rice installation process to render Hyprland