@define-color theme-color #f2cdcd;
@define-color default-text-color #cdd6f4;

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    margin: 0px;
    border: 2px solid @theme-color;
    background-color: #1e1e2e;
    border-radius: 12px;
}

#outer-box {
    margin: 5px;
}

#input {
    margin: 5px;
    color: @default-text-color;
    background-color: #313244;
}

#inner-box {
    margin: 5px;
}

#entry:selected {
    background-color: @theme-color;
    color: #1e1e2e;
    border-radius: 5px;
}

#text:selected {
    color: #1e1e2e;
}

#text {
    margin: 5px;
    border: none;
    color: @default-text-color;
}
